APP_NAME="NSCDC Recruitment Portal"
APP_ENV=local
APP_KEY=base64:GR9jBtw4pFlbnVLjxbcxl2PcR9vfNh4cfk0zXCO91gk=
APP_DEBUG=true
APP_URL=https://nscdcrecruitment.tech

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=10.0.1.59
DB_PORT=3306
DB_DATABASE=nscdcrecruitment
DB_USERNAME=root
DB_PASSWORD=@Suleimanu1

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=redis
SESSION_LIFETIME=120

REDIS_HOST=10.131.12.148
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=smtp.gmail.com
MAIL_PORT=587
MAIL_USERNAME=suleiman.bichi@gmail.com
MAIL_PASSWORD=wylaqdcviarrlzgj
MAIL_ENCRYPTION=tls

AWS_ACCESS_KEY_ID=AKIAWBHRWUFZXJVNXDYM
AWS_SECRET_ACCESS_KEY=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
AWS_DEFAULT_REGION=eu-west-2
AWS_BUCKET=nscdc-portal-bucket

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"

RECAPTCHA_SITE_KEY=6Lcv-6LfP-64UAAAAAAd3x50Wt0J5dm1Byl-9zQ70-YYb
RECAPTCHA_SECRET_KEY=6Lfr-q4UAAAAAJdf3022_HPPj6rT6Kd9cDV3zEJa